<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d043cc6-098a-4aa9-88c8-09be52574739" Alias="homePage" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c89025c5-68c2-4838-8cb0-4bdf6ea0a14d">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2cc17eaf-2703-45fe-abc0-bab10133f4a8" SortOrder="0">movieCategory</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>185349fa-2e76-4121-9e22-8a1b1a81fc0f</Key>
      <Name>PageDescription</Name>
      <Alias>pageDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>HomePageContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ac16fa67-553b-45ea-8d97-78529c117e90</Key>
      <Name>PageTitle</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>HomePageContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>HomePageContent</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>