<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6ee45067-0edb-4fe3-881e-633b4b188299" Alias="movieItemNestedContent" Level="2">
  <Info>
    <Name>PhotoNC</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>MoviesNestedContent</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>eea2a572-97eb-426c-acdd-f425ac0cddaf</Key>
      <Name>Photo</Name>
      <Alias>photo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>NCPhotoContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>NCPhotoContent</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>