<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fc2c8a95-3f86-4945-b024-f80aa83a24bd" Alias="movieCategoryItem" Level="1">
  <Info>
    <Name>MovieCategoryItem</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fc2c8a95-3f86-4945-b024-f80aa83a24bd" SortOrder="0">movieCategoryItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9a6b5f1f-3230-4fdc-b3f6-ab46bcaac2df</Key>
      <Name>ItemDescription</Name>
      <Alias>itemDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>ItemContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7517364-b4cf-40dd-9a71-6d4168418064</Key>
      <Name>ItemTag</Name>
      <Alias>itemTag</Alias>
      <Definition>d5b066f1-609b-4d45-b2dd-a2d66021bd81</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>ItemContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bfeb501f-e791-4bc6-8d7b-d12441438cf5</Key>
      <Name>ItemTitle</Name>
      <Alias>itemTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>ItemContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dd6bbc9e-daa7-4977-9a53-7a06ea4b7910</Key>
      <Name>Medias</Name>
      <Alias>medias</Alias>
      <Definition>94665cc5-aa06-4fd7-8e14-e12525c591d2</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>NCItemContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>ItemContent</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>NCItemContent</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>