<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94665cc5-aa06-4fd7-8e14-e12525c591d2" Alias="MovieCategoryItem - Medias - Nested Content" Level="1">
  <Info>
    <Name>MovieCategoryItem - Medias - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "movieItemNestedContent",
      "ncTabAlias": "NCPhotoContent",
      "nameTemplate": ""
    },
    {
      "ncAlias": "videoNC",
      "ncTabAlias": "NCVideoContent",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>