<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5b066f1-609b-4d45-b2dd-a2d66021bd81" Alias="MovieCategoryItem - ItemTag - Tags" Level="1">
  <Info>
    <Name>MovieCategoryItem - ItemTag - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>